.portfolio__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-2);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-2);
  background: transparent;
  scale: 1.05;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 33rem;
}

#carousel-container-adoptmwa {
  height: 42rem;
}

.portfolio__item h3 {
  margin: 1.2 0 2rem;
}

/* ----------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 2560px) {
  .portfolio__item {
    height: 79rem;
  }

  .portfolio__item-image {
    height: 67rem;
  }

  #container-adoptmwa {
    height: 96rem;
  }

  #carousel-container-adoptmwa {
    height: 84rem;
  }
}

@media screen and (min-width: 1920px) {
  .portfolio__item {
    height: 62rem;
  }

  .portfolio__item-image {
    height: 50rem;
  }

  #container-adoptmwa {
    height: 74rem;
  }

  #carousel-container-adoptmwa {
    height: 62rem;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .portfolio__item {
    width: 40rem;
  }

  .portfolio__item-image {
    height: 21rem;
  }

}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .portfolio__item {
    width: 22rem;
  }

  .portfolio__item-image {
    height: 11rem;
  }

  #carousel-container-adoptmwa {
    height: 14rem;
  }
}
